h1 {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    padding: 1rem 2rem;
    max-width: 400px;
    margin: auto;
}

span {
    font-weight: 600;
}

.presentation {
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
    margin: auto;
}

.presentation img {
    width: 100%;
    height: 100%;
}

h2 {
    font-family: "Playfair Display";
}

.presentation p {
    line-height: 1.5;
    margin: auto 20px 2rem 20px;
}

.spinner {
    border: 9px solid rgba(72, 132, 155, 0.582);
    border-top: 9px solid var(--blue);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin: auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (min-width: 750px) {
    h1 {
        max-width: 500px;
        margin: 1rem auto 0 auto;
        font-size: 1.3rem;
    }

    .presentation {
        width: 700px;
        margin: 1rem auto 2.5rem auto;
    }

    .text-wrap {
        display: flex;
        text-align: left;
        align-items: center;
        justify-content: space-between;
        margin: 2rem 0;
        max-width: 700px;
        padding: 0 2.3rem;
    }

    h2 {
        width: 35%;
    }

    .text-wrap p {
        margin: 0;
        width: 65%;
        font-size: 1rem;
    }
}