h1 {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    padding: 1rem 2rem;
    max-width: 400px;
    margin: auto;
}

h1 span {
    font-weight: 600;
    display: block;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 2rem auto;
}

.label p {
    display: block;
    font-style: italic;
    font-size: 0.9rem;
    margin: 4px auto 6px auto;
}

.label {
    padding: 10px 0;
}

.labelwrap {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.fa-exclamation-triangle {
    color: rgb(238, 85, 14);
    font-size: 1rem;
    padding-right: 10px;
}

.fa-check-circle {
    color: rgb(130, 196, 44);
    font-size: 1rem;
    padding-right: 10px;
}

.form-input,
.message {
    display: block;
    border-radius: 4px;
    border-color: rgba(255, 255, 255, 0.4);
    box-shadow: rgba(0, 0, 0, 0.048) 1px 2px 5px 2px;
    padding: 1px;
    height: 30px;
    width: 100%;
    margin: auto;
    font-size: 1rem;
    background-color: #f4f4f48c;
}

input[type="text"],
input[type="email"],
textarea[type="text"] {
    padding: 5px 0 5px 5px;
}

.message {
    height: 120px;
    font-family: inherit;
}

.message-value,
.subject-value,
.name-value,
.email-value {
    display: block;
    color: rgb(238, 85, 14);
}

.success {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    display: none;
}

h2 {
    font-family: "Playfair Display";
    margin: 1rem 0 0 0;
}

.message-picture {
    background-image: url(/images/thank-you.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 70%;
    width: 100%;
    height: 300px;
}

.confirmed {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    margin: auto;
    margin-bottom: 2rem;
}

.forget,
.again {
    font-style: italic;
    font-weight: 400;
    font-size: 0.8rem;
    margin: 0;
}

.again {
    color: var(--sand);
    padding-top: 5px;
    cursor: pointer;
}

.again:hover {
    color: var(--light-sand);
}

.button {
    height: 2.5rem;
    width: 8rem;
    line-height: 1.7;
    text-align: center;
    padding: 8px 6px;
    cursor: pointer;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

.home {
    margin: 0 1rem 1.5rem 1rem;
}

.button-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desktop {
    display: none;
}

@media only screen and (min-width: 700px) {

    h1 {
        max-width: 500px;
        margin: 1rem auto;
        font-size: 1.3rem;
    }

    .contact-form {
        margin: unset;
        padding-right: 3rem;
    }

    .wrapper {
        display: flex;
        padding: 2rem 2rem 2rem 0;
        justify-content: center;
        margin: auto;
        width: 80%;
        max-width: 700px;
    }

    .wrapper p {
        font-size: 1rem;
    }

    label {
        font-size: 1.2rem;
    }

    .desktop {
        display: flex;
        flex-direction: column;
        max-width: 45%;
        line-height: 0.6;
    }

    .desktop-fig {
        max-width: 350px;
        max-height: 30%;
        margin: 0;
        padding: 0;
        margin-bottom: 1rem;
    }

    .desktop-fig img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .bottom {
        margin-top: 3rem;
    }

    .success {
        width: 100%;
    }

    .confirmed {
        margin-top: 2rem;
    }

    /* ADD CLASSES ONCLICK */

    .wrap-success {
        width: 100%;
        padding: 0;
        margin: 0;
        max-width: 1920px;
    }

    .message-picture-success {
        background-size: cover;
        min-height: 600px;
    }

    .success-final {
        flex-direction: row;
        padding-bottom: 0;
    }

    .confirmed-success {
        justify-content: center;
        min-width: 400px;
    }

    .success-h2 {
        font-size: 2rem;
    }

    .success-ingress {
        margin-bottom: 2rem;
        font-size: 1rem;
    }

    .home-success {
        margin-bottom: 2rem;
    }

    .again {
        font-size: 1rem;
        padding-top: 0.5rem;
    }

    @media not all and (min-resolution:.001dpcm) {
        @supports (-webkit-appearance:none) {
            strong {
                padding-top: 1rem;
            }
        }
    }
}