#load {
    background: rgb(95, 24, 68);
    background: linear-gradient(0deg, rgb(83, 21, 59) 25%, rgb(160, 71, 126) 100%);
}

.loading-text {
    color: white;
}

.airplane {
    color: rgba(255, 255, 255, 0.473);
}

.pulse {
    background-color: rgba(255, 255, 255, 0.473);
}

.breadcrumbs {
    position: relative;
    display: inline-flex;
    list-style-type: none;
    margin-top: 2rem;
    font-size: 0.9rem;
    color: white;
    padding-left: 2rem;
    z-index: 10;
    letter-spacing: -0.7px;
}

.breadcrumbs a {
    color: var(--white-color);
    text-decoration: none;
}

.breadcrumbs a:hover {
    color: var(--sand);
}

.breadcrumbs-desktop {
    display: none;
}

.fas {
    padding: 0 10px;
}

.location {
    font-weight: 600;
}

.intro {
    background-color: black;
    margin-top: -10.1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav a,
.content {
    color: white;
}

.intro-text {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

h1 {
    color: white;
    font-family: "Playfair Display";
    font-size: 2rem;
    width: 330px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 15px;
    padding-right: 0.5rem;
}

h2 {
    font-family: "Playfair Display";
    font-size: 1.8rem;
    line-height: 1.3;
}

h3 {
    color: #b3822e;
    letter-spacing: 1.2px;
    font-size: 1.3rem;
}

.tags {
    padding: 0;
}

.content,
.ingress-text {
    padding-right: 25px;
    font-weight: 300;
}

.bodytext {
    font-weight: 300;
}

.header-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 60%;
    padding-top: 11rem;
}

.header-fig {
    width: 100%;
    height: 500px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.ingress {
    color: black;
    padding-left: 2rem;
}

.map-budget {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 90%;
}

.map,
.budget {
    width: 100%;
    line-height: 1.5;
    max-height: 300px;
}

.map-img,
.detail-img,
.detail-img-2 {
    width: 100%;
}

.map-img {
    max-height: 300px;
    object-fit: contain;
}

.bodytext p,
.bodytext h3 {
    margin: auto;
    padding-left: 2rem;
    margin-bottom: 2rem;
    padding-right: 25px;
}

.bodytext h3 {
    margin-bottom: 0.8rem;
}

.bodytext figcaption {
    font-style: italic;
    color: rgb(95, 93, 93);
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-right: 25px;
    padding-left: 2rem;
}

.capt-bottom figcaption {
    color: white;
    padding: 0;
}

.image-wrap {
    background-color: black;
    width: 100%;
    padding: 2rem 25px 2rem 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fig-detail-img,
.fig-detail-img-2 {
    width: 100%;
    margin: auto;
    cursor: pointer;
    transition: 0.3s;
}

.fig-detail-img-2 {
    margin: auto;
}

.imgtext-intro {
    font-weight: bold;
}

.fig-container {
    display: flex;
    flex-direction: row;
    height: 250px;
}

.detail-img-2 {
    height: 250px;
    object-fit: cover;
    object-position: 40%;
}

.img-one {
    padding-right: 5px;
}

.discover-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 3rem;
    border-bottom: 1px black solid;
    width: 90%;
    margin: auto;
}

.discover-detail p {
    width: 200px;
    line-height: 1.3;
}

.some {
    margin-top: 2rem;
}

.desktop-budget,
.desktop-top-figure,
.desktop-wide-figure,
.desktop-text {
    display: none;
}

.detail-search-icon {
    color: white;
}

@media only screen and (min-width: 650px) {
    .intro {
        flex-direction: row;
        display: flex;
        justify-content: space-evenly;
        min-height: 750px;
    }

    .breadcrumbs-mobile {
        display: none;
    }

    .breadcrumbs-desktop {
        display: inline-flex;
        margin-top: 11rem;
        padding: 0;
    }

    .header-fig {
        flex: 2;
        height: unset;
    }

    .intro-text {
        padding: 0;
        padding-left: 2rem;
        flex: 1;
        height: unset;
    }

    .intro-text p {
        max-width: 350px;
        font-size: 1.2rem;
        line-height: 1.3;
    }

    h1 {
        margin-top: 3rem;
        margin-bottom: 2rem;
        font-size: 3rem;
        width: 280px;
    }

    .header-tags {
        margin-bottom: 2rem;
    }

    .ingress {
        display: flex;
        flex-wrap: wrap;
        max-width: 700px;
        margin: auto;
    }

    .ingress h2 {
        font-size: 2.5rem;
        margin-bottom: 0;
    }

    .mobile-budget,
    .top-figure,
    .mobile-figure,
    .text-container {
        display: none;
    }

    .desktop-budget {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        font-weight: 300;
    }

    .desktop-budget span:first-of-type {
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .bodytext h3,
    .bodytext p,
    .fig-one-caption,
    .desktop-image-flex,
    .fig-container {
        max-width: 700px;
        margin: auto;
    }

    .fig-detail-img {
        margin: auto;
    }

    .fig-detail-img-2 {
        padding: 0;
    }

    .map-budget {
        align-items: center;
        line-height: 1.4;
    }

    .desktop-top-figure,
    .capt-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .capt-bottom {
        padding-left: 8px;
    }

    .desktop-top-figure {
        padding-right: 8px;
    }

    .desktop-top-figure img,
    .capt-bottom img {
        height: 240px;
        width: 100%;
        object-fit: cover;
    }

    .desktop-image-flex {
        display: flex;
    }

    .bodytext figcaption {
        color: white;
        padding: 0;
    }

    .desktop-text {
        display: initial;
    }

    .desktop-text h3,
    h3 {
        padding: 10px 0 10px 0;
    }

    .desktop-text p {
        color: white;
        padding: 0;
    }

    .fig-container {
        height: unset;
    }

    .desktop-wide-figure {
        max-width: 700px;
        display: flex;
        margin-bottom: 2rem;
    }

    .detail-img-2 {
        max-width: 700px;
        height: 500px;
    }

    .small-img {
        padding-left: 50px;
        height: 100%;
        max-height: 350px;
        min-height: 300px;
    }

    .image-wrap {
        padding-bottom: 4rem;
    }

    .modal-content {
        height: 80%;
        width: 70%;
    }

    .img-modal {
        height: 100%;
        width: 100%;
    }

    .close {
        top: 9%;
        right: 11%;
    }
}