.breadcrumbs {
    display: inline-flex;
    list-style-type: none;
    margin-top: 2rem;
    font-size: 0.85rem;
    color: white;
    padding-left: 2rem;
}

.breadcrumbs a {
    color: var(--white-color);
    text-decoration: none;
}

.breadcrumbs a:hover {
    color: var(--primary-color);
}

.fas {
    padding: 0 10px;
}

.location {
    font-weight: 600;
}

.intro {
    background-color: black;
    margin-top: -10.1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav a,
.content {
    color: white;
}

.intro-text {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

h1 {
    color: white;
    font-family: Playfair Display;
    font-size: 2rem;
    width: 280px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 15px;
}

h2 {
    font-family: Playfair Display;
    font-size: 1.8rem;
    line-height: 1.3;
}

h3 {
    color: var(--sand);
    letter-spacing: 1.2px;
    font-size: 1.3rem;
}

.content,
.ingress-text {
    padding-right: 25px;
    font-weight: 300;
}

.bodytext {
    font-weight: 300;
}

.header-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 60%;
    padding-top: 11rem;
}

.header-fig {
    width: 100%;
    height: 500px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.ingress {
    color: black;
    padding-left: 2rem;
}

.map-budget {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 90%;
}

.map,
.budget {
    width: 100%;
    line-height: 1.5;
}

.map-img,
.detail-img,
.detail-img-2 {
    width: 100%;
}

.bodytext p,
.bodytext h3 {
    margin: auto;
    padding-left: 2rem;
    margin-bottom: 2rem;
    padding-right: 25px;
}

.bodytext h3 {
    margin-bottom: 0.8rem;
}

.bodytext figcaption {
    font-style: italic;
    color: rgb(95, 93, 93);
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-right: 25px;
    padding-left: 2rem;
}

.capt-bottom figcaption {
    color: white;
    padding: 0;
}

.image-wrap {
    background-color: black;
    width: 100%;
    padding: 2rem 25px 2rem 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fig-detail-img,
.fig-detail-img-2 {
    width: 100%;
    margin: auto;
    cursor: pointer;
    transition: 0.3s;
}

.fig-detail-img-2 {
    margin: auto;
}

.imgtext-intro {
    font-weight: bold;
}

.fig-container {
    display: flex;
    flex-direction: row;
    height: 250px;
}

.detail-img-2 {
    height: 250px;
    object-fit: cover;
    object-position: 40%;
}

.img-one {
    padding-right: 5px;
}

.discover-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 3rem;
    border-bottom: 1px black solid;
    width: 90%;
    margin: auto;
}

.discover-detail p {
    width: 200px;
    line-height: 1.3;
}

.some {
    margin-top: 2rem;
}