.header {
    background-image: url(/images/mobile-heading-index-small.jpg);
    background-repeat: no-repeat;
    height: 480px;
    background-position: 80%;
    margin-top: -5rem;
    background-size: cover;
}

.intro {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    margin-top: 7rem;
    width: 70%;
    line-height: 1.5;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-weight: 900;
}

.trip {
    color: white;
    text-align: center;
    padding: 20px 0px;
    text-transform: uppercase;
    margin: auto;
}

.first-line,
#time {
    background-color: black;
    padding: 6px 20px;
    line-height: 2.2;
    width: 400px;
}

h2 {
    font-family: Playfair Display;
    text-align: center;
}

h2::before,
h2::after {
    display: inline-block;
    content: "";
    border-top: 2px solid black;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
}

.latest {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 0;
    text-align: center;
    width: 100%;
}

.wrap {
    padding: 20px 10px;
    transition: background .4s ease-in;
    margin: 0;
    width: 350px;
}

#slider-1,
#slider-2,
#slider-3 {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .8s ease;
}


.container {
    width: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cards {
    position: relative;
    width: 90%;
    height: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.slider-img {
    width: 220px;
    height: 200px;
    object-fit: cover;
}

.cards-back-left {
    transform: translatex(-20%) scale(.8);
    opacity: .5;
    z-index: 0;
    top: 10px
}

.cards-back-right {
    transform: translatex(20%) scale(.8);
    opacity: .5;
    z-index: 0;
    top: 10px;
}

.card-front {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
}

.gallery-text {
    background-color: black;
    color: white;
    font-family: Playfair Display;
    font-weight: bold;
    width: 220px;
    line-height: 2;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.253) 0px 2px 2px 0px;
}

.arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 240px;
    padding: 0.5rem;
    position: absolute;
}

#carousel-prev,
#carousel-next {
    cursor: pointer;
    z-index: 100;
}

.slide-icon {
    width: 22px;
}

.prev-icon {
    -webkit-transform: rotatey(180deg);
    transform: translateY(180deg);
}

h3 {
    font-family: Playfair Display;
    font-size: 1.5rem;
    margin-bottom: 0;
}

.headspan {
    font-weight: lighter;
}

.post-text {
    padding: 10px 20px 0px 20px;
}

.content {
    font-size: 0.85rem;
    line-height: 1.5;
}

.world {
    width: 160px;
}

.discover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    margin: auto;
    text-align: center;
    color: white;
    margin-bottom: 2rem;
    height: 320px;
}

.discover p {
    width: 60%;
    font-size: 1.2rem;
    /* font-weight: lighter; */
}