@import "/imports/variable.css";

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html,
body {
    font-family: "Playfair Display", sans-serif;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.skip-links {
    position: absolute;
    top: -10rem;
}

.skip-links a {
    padding: 1rem 0.4rem;
    line-height: 3;
    font-size: 1rem;
    text-decoration: none;
}

.skip-links:focus-within {
    left: 0;
    top: 0;
}

.logo {
    width: 30px;
}

nav,
nav a {
    position: relative;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.9rem;
    z-index: 100;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}

.nav-el:hover:before {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 4px;
    content: "";
    border-bottom: 2px solid black;
    width: 100%;
    transform: translateY(-0.5rem);
}


.nav-el:hover:after {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 4px;
    content: "";
    border-bottom: 2px solid black;
    width: 100%;
    transform: translateY(1rem);
}

.active-site:after {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 9px;
    content: "";
    border-bottom: 2px solid var(--sand);
    width: 100%;
    transform: translateY(1rem);
}

.search {
    width: 20px;
}

/* ARTICLES */

.headspan {
    font-weight: lighter;
}

.post-text {
    padding: 10px 20px 0px 20px;
}

.visit,
.post-container {
    margin-top: 16rem;
    width: 100%;
}

.post-container,
article {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}


.post-container a {
    color: black;
    background-color: #F4F4F4;
    /* border-right: rgba(0, 0, 0, 0.466) thin solid;
    border-left: rgba(0, 0, 0, 0.466) thin solid; */
    /* box-shadow: rgba(0, 0, 0, 0.048) 1px 2px 5px 2px; */
    margin-bottom: 2rem;
    padding-top: 20px;
    width: 90%;
}

.post-container a:hover {
    scale: 1.005;
    box-shadow: rgba(0, 0, 0, 0.082) 1px 4px 5px 4px;
}

.post-img {
    width: 90%;
}


/* TAGS */

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 0;
    width: 90%;
    margin-top: 0;
}

.tag {
    display: inline-block;
    color: #fff;
    position: relative;
    padding: 3px 15px;
    border-radius: 8px;
    margin: 6px;
    cursor: pointer;
    text-align: center;
    font-size: 0.8rem;
}

.tag:before {
    border: 8px solid;
    height: 0;
    width: 0;
    position: absolute;
    left: -13px;
    top: 3.4px;
    content: "";
    display: inline-block;
}

.tag:after {
    border: 8px solid;
    height: 0;
    width: 0;
    position: absolute;
    right: -13px;
    top: 3.4px;
    content: "";
    display: inline-block;
}

.purple-tag {
    background: var(--purple);
}

.purple-tag:before {
    border-color: transparent var(--purple) transparent transparent;
}

.purple-tag:after {
    border-color: transparent transparent transparent var(--purple);
}

.purple-tag:hover:after {
    border-color: transparent transparent transparent var(--light-purple);
}

.purple-tag:hover:before {
    border-color: transparent var(--light-purple) transparent transparent;
}

.purple-tag:hover {
    background-color: var(--light-purple);
}

.blue-tag {
    background: var(--blue);
}

.blue-tag:before {
    border-color: transparent var(--blue) transparent transparent;
}

.blue-tag:after {
    border-color: transparent transparent transparent var(--blue);
}

.blue-tag:hover:after {
    border-color: transparent transparent transparent var(--light-blue);
}

.blue-tag:hover:before {
    border-color: transparent var(--light-blue) transparent transparent;
}

.blue-tag:hover {
    background-color: var(--light-blue);
}

.sand-tag {
    background: var(--sand);
}

.sand-tag:before {
    border-color: transparent var(--sand) transparent transparent;
}

.sand-tag:after {
    border-color: transparent transparent transparent var(--sand);
}

.sand-tag:hover:after {
    border-color: transparent transparent transparent var(--light-sand);
}

.sand-tag:hover:before {
    border-color: transparent var(--light-sand) transparent transparent;
}

.sand-tag:hover {
    background-color: var(--light-sand);
}

.green-tag {
    background: var(--green);
}

.green-tag:before {
    border-color: transparent var(--green) transparent transparent;
}

.green-tag:after {
    border-color: transparent transparent transparent var(--green);
}

.green-tag:hover:after {
    border-color: transparent transparent transparent var(--light-green);
}

.green-tag:hover:before {
    border-color: transparent var(--light-green) transparent transparent;
}

.green-tag:hover {
    background-color: var(--light-green);
}

.peach-tag {
    background: #DD7A63;
}

.peach-tag:before {
    border-color: transparent #DD7A63 transparent transparent;
}

.peach-tag:after {
    border-color: transparent transparent transparent #DD7A63;
}

.peach-tag:hover:after {
    border-color: transparent transparent transparent #EF8A73;
}

.peach-tag:hover:before {
    border-color: transparent #EF8A73 transparent transparent;
}

.peach-tag:hover {
    background-color: #EF8A73;
}

.black-tag {
    background: black;
}

.black-tag:before {
    border-color: transparent black transparent transparent;
}

.black-tag:after {
    border-color: transparent transparent transparent black;
}

.black-tag:hover:after {
    border-color: transparent transparent transparent rgb(31, 30, 30);
}

.black-tag:hover:before {
    border-color: transparent rgb(31, 30, 30) transparent transparent;
}

.black-tag:hover {
    background-color: rgb(31, 30, 30);
}

/* Explore */

.button {
    background-color: var(--blue);
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 400;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    letter-spacing: 1px
}

.button a {
    text-transform: uppercase;
}

.button:hover {
    background-color: var(--light-blue);
}

/* Social Media */

.some {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 3rem;
}

.some img {
    width: 27px;
    margin: 20px;
}

.some a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    color: black;
}

#youtube {
    width: 32px;
}

#twitter {
    width: 30px;
}

/* MODAL */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 92%;
    height: 360px;
    object-fit: cover;
    /* max-width: 400px; */
    object-position: 50%;
}

.caption {
    margin: auto;
    display: block;
    width: 90%;
    max-width: 400px;
    text-align: center;
    color: #ccc;
    padding: 20px 0 10px 0;
    font-weight: 300;
    /* height: 150px; */
}

.modal-content,
.caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 65px;
    right: 35px;
    color: #f1f1f1;
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    /* cursor: pointer; */
}

/* 100% Image Width on Smaller Screens */
/* @media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
} */

/* ------ */

/* Footer */

footer {
    background-color: black;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 90%;
}

footer ul a {
    color: white;
    font-size: 0.8rem;
}

footer ul a:hover {
    color: var(--sand);
}