@import "/imports/variable.css";

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html,
body {
    font-family: "Playfair Display", sans-serif;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.error-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.lost-site {
    width: 70%;
    padding: 0;
    margin: 0;
}

.lost {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.sorry {
    font-family: "Playfair Display";
    font-size: 2rem;
    padding-bottom: 0;
    margin-bottom: 0;
}


/* TRYING TO MAKE LOADINGBAR */

.loader {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 120;
    text-align: center;
}

.loading-pulse-wrapper {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.pulse {
    height: 50px;
    width: 50px;
    background-color: var(--blue);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.airplane-holder {
    display: flex;
    height: 100px;
    width: 100px;
    animation: fly 2.5s ease-in-out infinite;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

#airplane-center {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-top: 40px;
    margin-left: -12px;
}

.airplane {
    font-size: 1.2rem;
    color: rgba(72, 132, 155, 0.582);
}

.loading-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    font-weight: 600;
    font-family: "Playfair Display";
    font-size: 1.5rem;
}

@keyframes fly {

    0% {
        transform: rotate(0deg);
        margin-left: -160px;
        opacity: 0;
    }

    33.33% {
        transform: rotate(0deg);
        margin-left: -50px;
        opacity: 1;
    }

    66.66% {
        transform: rotate(-360deg);
        margin-left: -50px;
        opacity: 1;
    }

    100% {
        margin-left: 200px;
        transform: rotate(-360deg);
        opacity: 0;
    }
}

.skip-links {
    position: absolute;
    top: -10rem;
}

.skip-links a {
    padding: 1rem 0.4rem;
    line-height: 3;
    font-size: 1rem;
    text-decoration: none;
}

.skip-links:focus-within {
    left: 0;
    top: 0;
}

nav,
nav a {
    position: relative;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.9rem;
    z-index: 101;
}

nav,
nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    width: 100%;
}

.nav-el:hover:before {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 4px;
    content: "";
    border-bottom: 2px solid black;
    width: 100%;
    transform: translateY(-0.5rem);
}

.nav-el:hover:after {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 4px;
    content: "";
    border-bottom: 2px solid black;
    width: 100%;
    transform: translateY(1rem);
}

.active-site:after {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 4px;
    content: "";
    border-bottom: 2px solid var(--sand);
    width: 100%;
    transform: translateY(1rem);
}

/* TESTING SEARCHBAR */

.searching {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.search-wrap {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 17% 0 1rem;
    height: 40px;
    top: 28px;
    margin-left: 18%;
}

.search-btn {
    position: absolute;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8%;
    right: 0;
    bottom: 0;
    width: 61px;
    height: 33px;
}

.search-on-scroll {
    top: 8px;
}

.list-search {
    z-index: 115;
}

.hide-li {
    visibility: hidden;
}

.search-container {
    width: 100%;
    padding: 0;
    position: relative;
}

input[type=search] {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    background-color: #f6f5f5;
    -webkit-appearance: none;
    font-weight: 600;
    border-color: #f4f0f0;
    outline: none;
    border-width: 0px;
    border-bottom: rgba(0, 0, 0, 0.158) thin solid;
}

::-moz-placeholder {
    opacity: 1;
}

.fa-search,
.fa-times {
    font-size: 1rem;
    cursor: pointer;
}

.fa-times {
    font-size: 1.3rem;
}

.go-search {
    position: absolute;
    font-size: 1.3rem;
    cursor: pointer;
}

.go-search:hover {
    scale: 1.1;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

.search-dropdown {
    display: flex;
    position: absolute;
    right: 0;
    left: 0;
    padding: 0;
    flex-direction: column;
    top: 1.6rem;
    opacity: 0;
    width: 100%;
}

.search-li {
    padding: 10px 12px;
    background-color: #f6f5f5;
    width: 100%;
    cursor: default;
    text-transform: capitalize;
    display: block;
    border-bottom: rgba(0, 0, 0, 0.158) thin solid;
}

.search-li:hover {
    background-color: #efefef;
}

.not-found {
    text-transform: initial;
    color: grey;
    font-weight: 400;
}

.active-search {
    opacity: 1;
    pointer-events: auto;
}

.logo {
    height: 44px;
}

.scrolled {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.89);
    transition: ease 0.2s;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.082) 1px 2px 1px 1px;
    padding-top: 0.8rem;
}

.detail-scrolled {
    background-color: rgba(0, 0, 0, 0.842);
}

.logo-onscroll {
    width: 20px;
    top: -20px;
}

.show-toggle {
    display: flex;
}

/* ARTICLES */

.headspan {
    font-weight: lighter;
    letter-spacing: -1px;
}

.post-text {
    padding: 10px 20px 0px 20px;
}

.post-container,
article,
.article-wrap a {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.article-wrap {
    color: black;
    background-color: #F4F4F4;
    margin-bottom: 2rem;
    padding-top: 20px;
    width: 90%;
}

.article-wrap a {
    color: black;
    margin: unset;
}

.article-wrap:hover {
    scale: 1.003;
    box-shadow: rgba(0, 0, 0, 0.082) 1px 4px 5px 4px;
}

.post-img {
    width: 90%;
}

/* TAGS */

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 0;
    width: 100%;
    padding-left: 20px;
    margin-top: 0;
}

.tag {
    display: inline-block;
    color: white;
    position: relative;
    padding: 3px 15px;
    border-radius: 8px;
    margin: 6px;
    text-align: center;
    font-size: 0.8rem;
    opacity: 0.9;
}

.tag:before {
    border: 8px solid;
    height: 0;
    width: 0;
    position: absolute;
    left: -13px;
    top: 4px;
    content: "";
    display: inline-block;
}

.tag:after {
    border: 8px solid;
    height: 0;
    width: 0;
    position: absolute;
    right: -13px;
    top: 4px;
    content: "";
    display: inline-block;
}

.ul-list li {
    cursor: pointer;
    opacity: 1;
}

.purple-tag {
    background: var(--purple);
}

.purple-tag:before {
    border-color: transparent var(--purple) transparent transparent;
}

.purple-tag:after {
    border-color: transparent transparent transparent var(--purple);
}

.filter-purple-tag:hover:after {
    border-color: transparent transparent transparent var(--light-purple);
}

.filter-purple-tag:hover:before {
    border-color: transparent var(--light-purple) transparent transparent;
}

.filter-purple-tag:hover {
    background-color: var(--light-purple);
}

.blue-tag {
    background: var(--blue);
}

.blue-tag:before {
    border-color: transparent var(--blue) transparent transparent;
}

.blue-tag:after {
    border-color: transparent transparent transparent var(--blue);
}

.filter-blue-tag:hover:after {
    border-color: transparent transparent transparent var(--light-blue);
}

.filter-blue-tag:hover:before {
    border-color: transparent var(--light-blue) transparent transparent;
}

.filter-blue-tag:hover {
    background-color: var(--light-blue);
}

.sand-tag {
    background: var(--sand);
}

.sand-tag:before {
    border-color: transparent var(--sand) transparent transparent;
}

.sand-tag:after {
    border-color: transparent transparent transparent var(--sand);
}

.filter-sand-tag:hover:after {
    border-color: transparent transparent transparent var(--light-sand);
}

.filter-sand-tag:hover:before {
    border-color: transparent var(--light-sand) transparent transparent;
}

.filter-sand-tag:hover {
    background-color: var(--light-sand);
}

.green-tag {
    background: var(--green);
}

.green-tag:before {
    border-color: transparent var(--green) transparent transparent;
}

.green-tag:after {
    border-color: transparent transparent transparent var(--green);
}

.filter-green-tag:hover:after {
    border-color: transparent transparent transparent var(--light-green);
}

.filter-green-tag:hover:before {
    border-color: transparent var(--light-green) transparent transparent;
}

.filter-green-tag:hover {
    background-color: var(--light-green);
}

.peach-tag {
    background: var(--peach);
}

.peach-tag:before {
    border-color: transparent var(--peach) transparent transparent;
}

.peach-tag:after {
    border-color: transparent transparent transparent var(--peach);
}

.filter-peach-tag:hover:after {
    border-color: transparent transparent transparent var(--light-peach);
}

.filter-peach-tag:hover:before {
    border-color: transparent var(--light-peach) transparent transparent;
}

.filter-peach-tag:hover {
    background-color: var(--light-peach);
}

.ocean-tag {
    background-color: #266E73;
}

.ocean-tag:before {
    border-color: transparent #266E73 transparent transparent;
}

.ocean-tag:after {
    border-color: transparent transparent transparent #266E73;
}

.ocean-tag:hover:after {
    border-color: transparent transparent transparent #31858b;
}

.ocean-tag:hover:before {
    border-color: transparent #31858b transparent transparent;
}

.ocean-tag:hover {
    background-color: #31858b;
}

.black-tag {
    background: black;
}

.black-tag:before {
    border-color: transparent black transparent transparent;
}

.black-tag:after {
    border-color: transparent transparent transparent black;
}

.black-tag:hover:after {
    border-color: transparent transparent transparent rgb(31, 30, 30);
}

.black-tag:hover:before {
    border-color: transparent rgb(31, 30, 30) transparent transparent;
}

.black-tag:hover {
    background-color: rgb(31, 30, 30);
}

/* Travels */

.button {
    background-color: var(--blue);
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 0.5rem;
    letter-spacing: 1px;
    font-weight: 500;
}

.button:hover {
    background-color: var(--light-blue);
}

/* Social Media */

.some {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 3rem;
}

.some img {
    width: 27px;
    margin: 20px;
}

.some a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    color: black;
}

.some a img:hover {
    scale: 1.03;
}

#youtube {
    width: 32px;
}

#twitter {
    width: 30px;
}

/* MODAL */

#open-modal:hover {
    cursor: zoom-in;
}

.modal {
    display: none;
    position: fixed;
    z-index: 15;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 92%;
    height: 360px;
    object-fit: cover;
    object-position: 50%;
}

.caption {
    margin: auto;
    display: block;
    width: 90%;
    max-width: 400px;
    text-align: center;
    color: #ccc;
    padding: 20px 0 10px 0;
    font-weight: 400;
}

.modal-content,
.caption {
    animation-name: zoom;
    animation-duration: 0.5s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    right: 6%;
    top: 8%;
    color: #f1f1f1;
    font-size: 35px;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: rgb(110, 107, 107);
    text-decoration: none;
}

/* Footer */

.logo-footer {
    width: 30px;
}

footer {
    background-color: black;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 90%;
    max-width: 400px;
}

footer ul a {
    color: white;
    font-size: 0.8rem;
}

footer ul a:hover {
    color: var(--sand);
}

@media only screen and (min-width: 680px) {

    .desktop-logo {
        width: 120px;
        padding-top: 2px;
    }

    nav ul {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    nav a {
        font-size: 1.1rem;
    }

    .scrolled {
        height: 55px;
    }

    .search-wrap {
        padding: 0 19% 0 7rem;
    }

    #airplane-center {
        top: 70%;
    }

    .lost-site {
        width: 30%;
    }
}

@media only screen and (min-width: 1000px) {

    #airplane-center {
        top: 80%;
    }
}