@import "/imports/variable.css";

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html,
body {
    font-family: "Playfair Display", sans-serif;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.skip-links {
    position: absolute;
    top: -10rem;
}

.skip-links a {
    padding: 1rem 0.4rem;
    line-height: 3;
    font-size: 1rem;
    text-decoration: none;
}

.skip-links:focus-within {
    left: 0;
    top: 0;
}

.logo {
    width: 30px;
}

nav,
nav a {
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.9rem;
    z-index: 100;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}


/* TAGS */

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    padding: 0;
    margin: 0 0 3rem 0;
    padding-bottom: 2rem;
    border-bottom: black solid 1px;
    width: 90%;
}

.tag {
    display: inline-block;
    color: #fff;
    position: relative;
    padding: 4px 15px;
    border-radius: 8px;
    margin: 13px;
    cursor: pointer;
    text-align: center;
    font-size: 0.8rem;
}

.tag:before {
    border: 8px solid;
    height: 0;
    width: 0;
    position: absolute;
    left: -15px;
    top: 4.8px;
    content: "";
    display: inline-block;
}

.tag:after {
    border: 8px solid;
    height: 0;
    width: 0;
    position: absolute;
    right: -15px;
    top: 4.8px;
    content: "";
    display: inline-block;
}

.purple-tag {
    background: var(--purple);
}

.purple-tag:before {
    border-color: transparent var(--purple) transparent transparent;
}

.purple-tag:after {
    border-color: transparent transparent transparent var(--purple);
}

.purple-tag:hover:after {
    border-color: transparent transparent transparent var(--light-purple);
}

.purple-tag:hover:before {
    border-color: transparent var(--light-purple) transparent transparent;
}

.purple-tag:hover {
    background-color: var(--light-purple);
}

.blue-tag {
    background: var(--blue);
}

.blue-tag:before {
    border-color: transparent var(--blue) transparent transparent;
}

.blue-tag:after {
    border-color: transparent transparent transparent var(--blue);
}

.blue-tag:hover:after {
    border-color: transparent transparent transparent var(--light-blue);
}

.blue-tag:hover:before {
    border-color: transparent var(--light-blue) transparent transparent;
}

.blue-tag:hover {
    background-color: var(--light-blue);
}

.sand-tag {
    background: var(--sand);
}

.sand-tag:before {
    border-color: transparent var(--sand) transparent transparent;
}

.sand-tag:after {
    border-color: transparent transparent transparent var(--sand);
}

.sand-tag:hover:after {
    border-color: transparent transparent transparent var(--light-sand);
}

.sand-tag:hover:before {
    border-color: transparent var(--light-sand) transparent transparent;
}

.sand-tag:hover {
    background-color: var(--light-sand);
}

.green-tag {
    background: var(--green);
}

.green-tag:before {
    border-color: transparent var(--green) transparent transparent;
}

.green-tag:after {
    border-color: transparent transparent transparent var(--green);
}

.green-tag:hover:after {
    border-color: transparent transparent transparent var(--light-green);
}

.green-tag:hover:before {
    border-color: transparent var(--light-green) transparent transparent;
}

.green-tag:hover {
    background-color: var(--light-green);
}

.peach-tag {
    background: #DD7A63;
}

.peach-tag:before {
    border-color: transparent #DD7A63 transparent transparent;
}

.peach-tag:after {
    border-color: transparent transparent transparent #DD7A63;
}

.peach-tag:hover:after {
    border-color: transparent transparent transparent #EF8A73;
}

.peach-tag:hover:before {
    border-color: transparent #EF8A73 transparent transparent;
}

.peach-tag:hover {
    background-color: #EF8A73;
}