#load {
    background: rgb(36, 30, 0);
    background: linear-gradient(0deg, #0F0B04 19%, #4A3615 100%);
}

.loading-text {
    color: white;
}

.airplane {
    color: rgba(255, 255, 255, 0.473);
}

.pulse {
    background-color: rgba(255, 255, 255, 0.473);
}

.intro {
    text-align: center;
    padding: 2rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 1rem;
    font-weight: 400;
}

.intro span {
    font-weight: 600;
}

.tags-header {
    width: 100%;
    padding: 20px;
    margin-top: -1rem;
}

.all-tag {
    display: block;
}

.ul-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto auto 0 auto;
    padding: 20px;
}

.tag {
    line-height: 1.3;
}

.tags {
    padding-left: 30px;
}

#explore-tags {
    padding-bottom: 1rem;
}

h2 {
    font-family: "Playfair Display";
    font-size: 1.5rem;
    margin-bottom: 0;
}

#container {
    display: block;
}

.viewBtn {
    display: block;
    border: black thin solid;
    padding: 8px 15px;
    font-family: inherit;
    font-weight: 600;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
    margin: 2rem auto;
}

/* HEAD POST */

.head-post {
    position: relative;
}

.head-post a {
    color: white;
    display: flex;
    text-align: center;
}

.head-post-fig {
    width: 100%;
    height: 350px;
}

.head-post-img {
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.heading-wrap {
    display: flex;
    position: absolute;
    flex-direction: column;
    z-index: 3;
    top: 43%;
    left: 0;
    right: 0;
    margin: auto;
}

.h2-overlay {
    margin: auto;
    padding: 5px 10px;
    font-family: "Playfair Display";
    font-size: 1.5rem;
    font-weight: 700;
    border: white solid 1.5px;
    box-shadow: rgba(0, 0, 0, 0.178) 1px 2px 2px 2px;
}

.figcap {
    color: white;
    position: absolute;
    padding: 270px 10% 0 10%;
    width: 100%;
    font-weight: 300;
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    bottom: 0;
}

.head-post-para {
    color: white;
    background-color: black;
    padding: 5px 10px;
    margin: 10px auto;
    font-size: 0.9rem;
    font-weight: 600;
}

.head-post-para>.headspan {
    letter-spacing: unset;
}

.figcap p {
    position: relative;
    margin-top: -4.2rem;
}

/* SPLIT POSTS */

.wrap-two-posts,
.wrap-two-posts-hidden,
.wrap-two-posts-middle,
.wrap-four-posts {
    display: flex;
    padding: 15px;
    max-width: 900px;
    margin: auto;
}

.wrap-two-posts a:hover,
.wrap-two-posts-hidden a:hover,
.wrap-two-posts-middle a:hover,
.wrap-four-posts a:hover {
    scale: 1.003;
    box-shadow: rgba(0, 0, 0, 0.082) 1px 4px 5px 4px;
}

.wrap-two-posts p:first-of-type,
.wrap-two-posts-hidden p:first-of-type,
.wrap-two-posts-middle p:first-of-type,
.wrap-four-posts p:first-of-type {
    padding: 1.2rem 1rem 0 1rem;
    line-height: 1.4;
}

.wrap-two-posts h2,
.wrap-two-posts-hidden h2,
.wrap-two-posts-middle h2,
.wrap-four-posts h2 {
    margin-top: 0;
    padding: 0rem 1rem 1rem 1rem;
}

.wrap-two-posts img,
.wrap-two-posts-hidden img,
.wrap-two-posts-middle img,
.wrap-four-posts img {
    width: 100%;
    min-height: 290px;
    object-fit: cover;
}

.wrap-two-posts a,
.wrap-two-posts-hidden a,
.wrap-two-posts-middle a,
.wrap-four-posts a {
    display: flex;
    flex-direction: column;
    max-width: 280px;
}

.blog-top {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.split-content {
    background-color: black;
    color: white;
    height: 100%;
    text-align: center;
    margin-top: -10px;
}

.paragraph {
    color: var(--sand);
}

figure {
    margin: 0;
    padding: 0;
}

.post-text {
    line-height: 1.5;
    padding: 10px 20px 0px 30px;
}

/* HIDDEN / TOOGLE */

.wrap-two-posts-hidden {
    padding-top: 0;
    margin-top: -10px;
}

.posts-standard-hidden,
.wrap-two-posts-hidden {
    display: none;
}

/* DESKTOP */

.desktop-head-posts {
    display: none;
}

.show {
    display: flex;
}

@media only screen and (min-width: 550px) {
    .figcap {
        padding: 270px 20% 0 20%;
    }
}

@media only screen and (min-width: 750px) {

    h1 {
        font-size: 1.3rem;
    }

    .content {
        font-weight: 300;
    }

    h2 {
        font-size: 2rem;
    }

    .mobile-posts {
        display: none;
    }

    .desktop-head-posts {
        display: block;
    }

    .intro {
        max-width: 500px;
        margin: auto;
    }

    .ul-list {
        max-width: 550px;
        margin-bottom: -2rem;
        padding-bottom: 0;
    }

    .tags {
        padding-left: 20px;
    }

    .dekstop-top-posts,
    .desktop-bottom-posts,
    .post-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1rem;
        max-width: 1000px;
        margin: auto;
        align-items: stretch;
    }

    .desktop-bottom-posts a {
        margin-top: 0;
    }

    .desktop-bottom-posts {
        margin-top: -2rem;
    }

    .wrap-four-posts {
        max-width: 1000px;
    }

    .paragraph {
        font-size: 1rem;
    }

    .post-img {
        height: 200px;
        object-fit: cover;
    }

    .wide-post .post-img {
        height: 450px;
        padding-top: 2rem;
    }

    .wide-post .post-text {
        padding: 10px 44px 0px 44px;
    }

    .article-wrap {
        flex: 1;
        min-width: 25%;
        max-width: 40%;
        margin: 5px;
        margin-top: 40px;
    }

    .filter-desktop-article {
        flex: 1;
        min-width: 47%;
        max-width: 100%;
        margin: 5px;
        margin-top: 40px;
    }

    .desktop-big-post {
        flex: 2;
        height: unset;
        max-width: 65%;
        margin: 5px;
        margin-top: 40px;
        background-color: black;
    }

    .desktop-big-post:hover {
        scale: 1.003;
        box-shadow: rgba(0, 0, 0, 0.082) 1px 4px 5px 4px;
    }

    .big-article {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .big-post-figure {
        width: 55%;
        height: 100%;
    }

    .big-post-text {
        width: 45%;
        height: 100%;
    }

    .big-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .desktop-big-post p,
    .desktop-big-post h2 {
        color: white;
    }

    .desktop-big-post h2 {
        font-size: 2.6rem;
        line-height: 1.2;
    }

    .big-tags {
        margin-top: 2rem;
        padding: 0;
    }

    .desktop-bottom-posts {
        display: none;
    }

    .desktop-tag {
        font-size: 1rem;
    }

    .desktop-tag::before,
    .desktop-tag::after {
        top: 6px;
    }

    .post-text {
        padding: 10px 20px 0px 20px;
    }

    .show {
        display: flex;
    }
}