:root {
  --dark-purple: #5F1844;
  --purple: #B25E92;
  --light-purple: #D07CB0;
  --dark-green: #212E06;
  --green: #9a9a15;
  --light-green: #BFBF35;
  --dark-blue: #123E4E;
  --blue: #4999b7;
  --light-blue: #71AFC6;
  --dark-sand: #4A3615;
  --sand: #cf9e4a;
  --light-sand: #E3AC4F;
  --antrasitt: #3B3939;
  --peach: #e26b50;
  --light-peach: #EF8A73;
}