:root {
  --yellow: #f8b21d;
  --purple: #b34f96;
  --green: #3db07a;
  --peach: #ef7b57;
  --light-blue: #90d1e2;
  --coral: #e94952;
  --black: #000000;
  --white: #ffffff;
  --dark-blue: #054172;
  --dark-purple: #540b55;
  --pale-blue: #49c7c2;
}
